:root{

    --primary-color : #7c59b0;
    --border-radius:5px;

}

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: burlywood;
}

h1{
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover{
  background: rgba(0, 0, 0, 0.8);;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.item{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px  ;
}

.item:hover{
  background: rgba(0, 0, 0, 0.6);
}

a{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* To avoid the underline of the a tag { use LOVE & Hate method which is a:link, a:visited for love a:hover, a:active for hate */ 

a:link,a:visited{
  color: white;
  text-decoration: none;
}

a:hover,a:active{
  text-decoration: underline;
}

.fa-times{
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name{
  margin-top: 20px;
  margin-right: 20px; 
}

.name img{
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}


/* media query */ 

@media(max-width:600px){
  .container{
    flex-direction: column;
  }
}







